* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  flex-direction: column;
  background: lightblue;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 5em;
}
table {
  display: flex;
  max-height: 150vh;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background: gray;
  margin: 0 auto;
}

/* each box of the game area */
.cell {
  display: flex;
  width: 300px;
  height: 300px;
  flex-basis: 0 0 300px;
  border: 3px solid red;
  justify-content: center;
  align-items: center;
}

/* removes outside borders of the gamegrid */

td div:first-child {
  border-left: 0;
}

tr td:last-child div {
  border-right: 0;
}

td:nth-child(-n + 3) div {
  border-top: 0;
}

tr:last-child div {
  border-bottom: 0;
}

/* JS css mods */
/* inputs photo when called */

.reset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100px;
  width: 100px;
}

.turn-display {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100px;
  height: 1.5rem;
  background: red;
  border: 3px solid red;
}

.status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100px;
  max-height: 100px;
  background: lightgray;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem auto;
}

option {
  margin-bottom: 2em;
  background: red;
}

#player-turn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100px;
  max-height: 100px;
  background: black;
  border: 10px solid black;
}
